
.home{
    background: #be5c5c;
    padding: 5px;
    border-radius: 5px;
}

.about{
    background: #a15e5e;
    padding: 5px;
    border-radius: 5px; 
}

.contact{
    background: #5f5353;
    padding: 5px;
    border-radius: 5px;
}
